body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 450px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    margin: 10px 0;
}

label {
    flex: 1;
    font-weight: bold;
    margin-right: 10px;
    text-align: right;
}

input[type="text"] {
    flex: 2; /* Adjust the value to control the input's width */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="range"] {
    width: 66%;
}

/* For WebKit-based browsers (Chrome, Safari) */
input[type="range"]::-webkit-slider-thumb {
    background-color: #000; /* Black color for the slider thumb */
}

/* For Firefox */
input[type="range"]::-moz-range-thumb {
    background-color: #000; /* Black color for the slider thumb */
}

/* Disable inputs */
input[disabled] {
    background-color: #f2f2f2;
}

/* Highlight input with errors */
input:invalid {
    border: 1px solid red;
}

@media (min-width: 511px) and (max-width: 1024px) {
    .container {
        width: 70%; 
    }

    input[type="text"], input[type="range"] {
        width: 100%; 
    }

    label {
        flex: 1; 
        margin: 5px 0; 
        text-align: left; 
    }
}

@media (min-width: 375px) and (max-width: 510px) {
    .container {
        width: 70%; 
    }

    input[type="text"], input[type="range"] {
        width: 100%; 
    }

    label {
        flex: 1; 
        margin: 5px 0;
        text-align: left;
    }
}
