body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #CFCECF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 90%; /* Adjusted width for better responsiveness */
    max-width: 450px; /* Added max-width to prevent the container from becoming too wide */
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column; /* Adjusted to stack form elements vertically */
    margin: 10px 0;
}

label {
    text-align: left; /* Adjusted to left-align labels for better mobile readability */
    margin-bottom: 5px; /* Added some spacing between labels and inputs */
}

input[type="text"],
input[type="range"] {
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the width calculation */
    padding: 8px; /* Adjusted padding for better spacing */
    margin-bottom: 10px; /* Added some spacing between input elements */
}

input[type="range"] {
    width: calc(100% - 16px); /* Adjusted range input width */
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
    width: 20px; /* Adjusted thumb size for better mobile interaction */
    height: 20px;
    background-color: #000;
}

/* For Firefox */
input[type="range"]::-moz-range-track {
    height: 20px;
}

input[disabled] {
    background-color: #f2f2f2;
}

input:invalid {
    border: 1px solid red;
}
